#menu {
	padding:8px;
}

.right {
	border-radius: 0px 25px 25px 0px / 0px 50px 50px 0px;
}
.left {
	border-radius: 25px 0px 0px 25px / 50px 0px 0px 50px;
}
.box_settings entry {	
	font-size: 12px;
}

.box-entry {
	padding: 0px;
}

.box-entry entry{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box-entry button{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
